:root {
    --color-1: #373234;
    --color-2: #e8dccc;
    --color-3: #f3ece4;
    --color-4: #d84339;
  }
  
  body {
    background: linear-gradient(90deg, var(--color-1) 0%, var(--color-1) 25%, var(--color-2) 25%, var(--color-2) 50%, var(--color-3) 50%, var(--color-3) 75%, var(--color-4) 75%, var(--color-4) 100%);
  }
  
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f5f5f5;
  }
  
  .quiz-container {
      text-align: center;
      background-color: #868686;
      padding: 20px;
      border-radius: 10px;
      border: 2px black solid;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .options-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 10px 0;
  }
  
  button {
      padding: 10px;
      margin: 10px;
      background-color: #55c259;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  button:hover {
      background-color: #5acc5f;
  }

  h1, a {
    color: #f5f5f5;
    text-decoration: none;
  }

  button.answered {
    display: none;
  }

  button#reset {
    background-color: crimson;
  }

  /* Answers CSS */
  
  table#answer, table#answer th, table#answer td {
    border: 5px var(--color-4) solid;
    border-collapse: collapse;
    padding: 10px;
    background-color: #e8dccc;
  }

  table#answer th:hover, table#answer td:hover {
    background-color: #e9dfd2;
  }

  td.vosotros {
    background-color: #868686 !important;
    border: none !important;
  }

  a:hover {
    color: rgb(211, 211, 211);
  }
